<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelo</title>
</head>
<body>
    <section class="container">
        <h1>Lorem, ipsum dolor sit amet</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nihil magni obcaecati, qui hic repellat quis necessitatibus maiores consectetur, tempora ab recusandae, culpa nemo id sed aspernatur magnam perspiciatis earum.
        </p>
        <form action="/" method="post">
            <label for="input-teste-1">Nome</label>
            <input type="text" id="input-teste-1" name="nome">

            <button>Enviar</button>
        </form>
    </section>
    <script src="./assets/js/bundle.js"></script>
</body>
</html>